<div class="nested-fields">
  <%= f.label :description %> </br>
  <%= f.text_field :description %>

  <div class="form-check form-check-inline">
    <%= f.check_box :correct, class: "form-check-input" %>
    <%= f.label :correct, "Is correct?", class: "form-check-label" %>
  </div>
  
  <%= link_to_remove_association f do %>
    <i class="fas fa-trash"></i>
  <% end %>
</div>


