<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <%= link_to  "Time To Answer", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        <% unless user_signed_in? %>
          <li class="nav-item"><%= link_to 'Login', user_session_path , class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Create an Account!', new_user_registration_path , class: "nav-link" %></li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              <%= current_user.try(:email) %>
            </a>
            <div class="dropdown-menu">
              <%= link_to users_backoffice_welcome_index_path, class: "dropdown-item" do %>
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              <% end %>

              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              <% end %>
            </div>
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>
