<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    <%= render 'home/shared/search_bar' %>
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <!-- Questions -->
        <% @questions.each do |question| %>
          <%= form_with(url: home_answer_path) do |form| %>
            <div class="accordion mb-5" id="accordionExample">
              <div class="mb-2">
                <%= link_to question.try(:subject).try(:description),
                                    home_search_subject_path(question.try(:subject_id)),
                                    class: "badge badge-info text-decoration-none" %>
                <span class="badge badge-danger badge-counter">7</span>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne"><button class="accordion-button" disabled="true" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%= question.try(:description) %></button></h3>
                <% question.try(:answers).each do |answer| %>
                  <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <li class="list-unstyled">
                        <div class="form-group form-check">
                          <%= form.radio_button :answer, answer.try(:id), class: 'form-check-input' %>
                          <%= answer.try(:description) %>
                        </div>
                      </li>
                    </div>
                  </div>
                <% end %>
                <div class="pl-3 mb-3">
                  <%= form.submit "Verify answer", class: "btn btn-primary",  id: "submit_#{question.id}" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="d-flex justify-content-center"><%= paginate @questions %></div>
      </div>
    </div>
  </div>
</section>
